<h1><%=@user.username%></h1>
<%= link_to "(edit)", edit_user_path(@user) %>
<%= link_to "View Posts By This User", "/posts/users/#{@user.id}"%>

<h4>Email: <%= @user.email %></h4>
<h4>Age: <%= @user.age %></h4>
<h4>Member Since: <%= @user.created_at.strftime("%B %e, %Y") %></h4>
<%= form_for @user, method: :delete do |f| %>
  <%= f.submit "Delete!" %>
<% end %>
